// Primary
$brightBlue: hsl(220, 98%, 61%);
$background: linear-gradient(-90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);

// Light Theme 

$veryLightGray: #e0dada;
$veryLightGrayBlue: hsl(236, 33%, 92%);
$lightGrayBlue: hsl(233, 11%, 84%);
$darkGrayBlue: hsl(236, 9%, 61%);
$veryDarkGreyBlue: hsl(235, 19%, 35%);

// Dark Theme 

$lightGrayBlue: hsl(234, 39%, 85%);
$lightGrayBlueHover: hsl(236, 33%, 92%);
$darkGrayBlue: hsl(234, 11%, 52%);
$darkBlue: hsl(233, 14%, 35%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$veryDarkBlue: hsl(235, 21%, 11%);