@media (max-width:554px){
      main{
            width:90%;
            min-width:200px;
      }

      p{
            font-size:14px
      }
      
      input[type=text]{
            font-size:14px;
      }

      

}