@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');

@import 'colors';

*{
      font-family: 'Josefin Sans', sans-serif;
      margin:0;
      padding:0;
}

body{
      font-size:18px;
      height:100%;
      user-select:none;
}

.night{
      background:$veryDarkBlue;
      background-image: url('../images/bg-desktop-dark.jpg');
      background-repeat: no-repeat;
      background-position: top;
}

.day{
      background:$veryLightGray;
      background-image: url('../images/bg-desktop-light.jpg');
      background-repeat: no-repeat;
      background-position: top;
}

main{
      position:relative;
      height:400px;
      width:600px;
      top: 70px;
      left:50%;
      transform:translate(-50%, 0);
      // background:rgba(128, 128, 128, 0.336);
}

#add-task-section{
      position:relative;
      margin-bottom:2rem;
}

#top-section{
      display:flex;
      justify-content:space-between;
      align-items:center;
      // background:rgba(255, 192, 203, 0.5);
      margin-bottom:2.5rem;
      h1{
            flex:1;
            display:flex;
            justify-content: flex-start;
            color:white;
            font-size:40px;
            letter-spacing: 15px;
      }
      #sun-icon{
            margin: auto 1rem;
            cursor:pointer;
      }
}

.task-tab{
      display:flex;
      align-items:center;
      position:relative;
      width:100%;
      height:65px;
      text-align:center;
      font-size:20px;
      justify-content:center;
      border-radius:5px;
      box-shadow:0px 10px 20px rgba(0, 0, 0, .5);
};

.task-light{
      background: $veryLightGray;
      color:black;
}

.task-dark{
      background: $veryDarkGrayishBlue;
      color:white;
}

// 1.SUBMIT SECTION 
.on-hover-submit{
      z-index:1;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      width:26px;
      height:26px;      
      border-radius:50%;
}

.submit-dark{
      background:$veryDarkGrayishBlue;
}

.submit-light{
      background:$veryLightGray;
}

.plus-sign-container{
      width:25px;
      height:25px;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      position:absolute;
      opacity:0;
      &:hover{
            opacity:.7;
      }
}

.plus-sign-1{
      position:absolute;
      left:50%;
      top:50%;
      height:1px;
      width:11px;
      transform:translate(-50%, -50%);
}

.plus-sign-2{
      position:absolute;
      height:11px;
      width:1px;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
}

#submit-button-label{
      position:relative;
      cursor:pointer;
      border-radius:50%;
      width:28px;
      height:28px;
      margin:1rem;
}

input[type=submit]{
      z-index:0;
      width:28px;
      height:28px;
      border-radius:50%;
      border-width:1px;
      border-style: solid;
      border-color:$darkGrayBlue;
      cursor:pointer;
      outline:none;
      background:transparent;
      &:hover{
            border: none;
            background: $background;
      }
      // &:before{
      //       content:url(../images/icon-check.svg);
      //       scale:1.2;
      //       position:absolute;
      //       top:54%;
      //       left:31px;
      //       transform:translate(-50%, -50%);
      //       align-items:center;
      // }

}

input[type=text]{
      outline:none;
      font-size:20px;
      color:white;
      background:$veryDarkGrayishBlue;
      flex:2;
      width: 100%;
      padding: 12px 10px;
      margin: 8px 10px;
      display: inline-block;
      border:none;
      border-radius: 4px;
      box-sizing: border-box;
}

// 2.ALL TASKS 
.check-button-label{
      position:absolute;
      left:0;
      cursor:pointer;
      border-radius:50%;
      width:28px;
      height:28px;
      margin:1rem;
}


.check-dark{
      background:$veryDarkGrayishBlue;
}

.check-light{
      background:$veryLightGray;
}

.on-hover-check{
      z-index:1;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      width:26px;
      height:26px;
      border-radius:50%;
}

.check-button{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      z-index:1;
      width:28px;
      height:28px;
      border-radius:50%;
      border-width:1px;
      border-style: solid;
      border-color:$darkGrayBlue;
      cursor:pointer;
      outline:none;
      background:transparent;
      &:hover{
            border: none;
            background: $background;
      }
}

.checked{
      z-index:0;
      margin:1rem;
      width:28px;
      height:28px;
      border-radius:50%;
      background:$background;
      &:before{
            content:url(../images/icon-check.svg);
            scale:1.2;
            position:absolute;
            top:54%;
            left:31px;
            transform:translate(-50%, -50%);
            align-items:center;
      }
}

.check-label{
      cursor:pointer;
      position:absolute;
      width:15px;
      top:50%;
      right:25%;
      transform:translate(-50%, -50%);
}

.hover{
      position:relative;
      margin:1rem;
      width:26px;
      height:26px;
      border-radius:50%;
      background:$background;
      &:before{
            content:'';
            position:absolute;
            margin:1px;
            border-radius:50%;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background:$veryDarkDesaturatedBlue;
      }
}