@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  height: 100%;
  user-select: none;
}

.night {
  background: #161722;
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.day {
  background: #e0dada;
  background-image: url("../images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

main {
  box-sizing: border-box;
  position: relative;
  height: 400px;
  width: 30%;
  min-width: 500px;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
}

#add-task-section {
  position: relative;
  margin-bottom: 2rem;
}

#top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
#top-section h1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 40px;
  letter-spacing: 15px;
}
#top-section #sun-icon {
  margin: auto 1rem;
  cursor: pointer;
}

.task-tab {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 65px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.1);
}
.task-tab:hover .cross-svg {
  opacity: 1;
}

.task-content {
  margin-left: 4rem;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}

.rounded-corners {
  border-radius: 5px;
}

.first-task {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.border-radius-none {
  border-radius: 0px;
}

.last-task {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-border-dark {
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: rgba(226, 226, 226, 0.1);
}

.bottom-border-light {
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: rgba(65, 65, 65, 0.1);
}

.input-task-tab {
  border-radius: 5px;
}

.task-light {
  background: #e0dada;
  color: black;
}

.task-dark {
  background: #25273c;
  color: white;
}

.cursor-hover {
  cursor: pointer;
}

.on-hover-submit {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.submit-dark {
  background: #25273c;
}

.submit-light {
  background: #e0dada;
}

.plus-sign-container {
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
.plus-sign-container:hover {
  opacity: 0.7;
}

.plus-sign-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  width: 11px;
  transform: translate(-50%, -50%);
}

.plus-sign-2 {
  position: absolute;
  height: 11px;
  width: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#submit-button-label {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 1rem;
}

input[type=submit] {
  z-index: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #777a92;
  cursor: pointer;
  outline: none;
  background: transparent;
}
input[type=submit]:hover {
  border: none;
  background: linear-gradient(-90deg, #57ddff 0%, #c058f3 100%);
}

input[type=text] {
  outline: none;
  font-size: 20px;
  color: white;
  background: #25273c;
  flex: 2;
  width: 100%;
  padding: 12px 10px;
  margin: 8px 10px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.check-button-label {
  position: absolute;
  left: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 1rem;
}

.check-dark {
  background: #25273c;
}

.check-light {
  background: #e0dada;
}

.cross-svg {
  position: absolute;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  opacity: 0;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
}
.cross-svg:active {
  opacity: 0.3;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
}

.on-hover-check {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.check-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #777a92;
  cursor: pointer;
  outline: none;
  background: transparent;
}
.check-button:hover {
  border: none;
  background: linear-gradient(-90deg, #57ddff 0%, #c058f3 100%);
}

.check-button-checked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #777a92;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
  background: linear-gradient(-90deg, #57ddff 0%, #c058f3 100%);
}
.check-button-checked::before {
  content: url("../images/icon-check.svg");
}

.checked {
  z-index: 0;
  margin: 1rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: linear-gradient(-90deg, #57ddff 0%, #c058f3 100%);
}
.checked:before {
  content: url(../images/icon-check.svg);
  scale: 1.2;
  position: absolute;
  top: 54%;
  left: 31px;
  transform: translate(-50%, -50%);
  align-items: center;
}

.check-label {
  cursor: pointer;
  position: absolute;
  width: 15px;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
}

.hover {
  position: relative;
  margin: 1rem;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: linear-gradient(-90deg, #57ddff 0%, #c058f3 100%);
}
.hover:before {
  content: "";
  position: absolute;
  margin: 1px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #25273c;
}

.control-panel-dark {
  color: white;
}

.control-panel-light {
  color: black;
}

.line-through {
  text-decoration: line-through;
  opacity: 0.3;
}

#control-panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  font-size: 14px;
  box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.1);
}
#control-panel #clear-completed-btn {
  cursor: pointer;
  opacity: 0.6;
}
#control-panel #clear-completed-btn:hover {
  opacity: 1;
}
#control-panel #clear-completed-btn:active {
  opacity: 1;
  color: #3a7bfd;
  transition: 0.1s;
}
#control-panel p {
  text-align: center;
  flex: 1;
  margin: 0 1rem;
  opacity: 0.6;
}
#control-panel ul {
  display: flex;
  justify-content: center;
  flex: 2;
  list-style: none;
  display: flex;
}
#control-panel ul li {
  cursor: pointer;
  margin: 0 1rem;
  opacity: 0.6;
}
#control-panel ul li:hover {
  opacity: 1;
}
#control-panel ul li:active {
  color: #3a7bfd;
  transition: 0.3s;
}

.hidden {
  display: none;
}

.active-state {
  color: #3a7bfd;
  opacity: 1 !important;
}

@media (max-width: 554px) {
  main {
    width: 90%;
    min-width: 200px;
  }

  p {
    font-size: 14px;
  }

  input[type=text] {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
